PUID=1000
PGID=1000
TZ=Europe/London

USERNAME=admin
PASSWORD=replace-me

QBITTORRENT_SAVE_PATH=/data/downloads
QBITTORRENT_TEMP_PATH=/data/downloads/incomplete
QBITTORRENT_CATEGORY=sonarr
QBITTORRENT_CATEGORY_PATH=/data/downloads/tv
QBITTORRENT_TORRENT_PORT=6881
